<div class="container">
  <h1>Login</h1>
  <form>
    <div class="input">
      <label for="email">Email</label>
      <input id="email" type="email" />
    </div>
    <div class="input">
      <label for="password">Password</label>
      <input id="password" type="password" />
    </div>
    <a router-link="#">Forgot Password?</a>
    <div class="login">
      <span
        >New Here?
        <a routerLink="/register">Register</a>
      </span>
      <button type="submit">Login</button>
    </div>
  </form>
</div>
